.main {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main > aside {
    flex-grow: 0;
    flex-shrink: 0;
    overflow-y: scroll;
}

.main > section {
    flex-grow: 1;
}