.node-selector {
    background-color: #eeeeee;
}

.node-selector > section > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.node-selector > section > ul > li {
    margin: .5em;
}